﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p>姓名:<input type="text" name="name" value="" /></p>
<p>account:<input type="text" name="name" value="" /></p>
<p>pass:<input type="password" name="name" value="" /></p>
<p>
    性別:
    <input type="radio" name="gender" value="A" />Male
    <input type="radio" name="gender" value="B" />Female
</p>
<p>
    興趣:
    <input type="checkbox" name="item" value="A" />游泳
    <input type="checkbox" name="item" value="B" />閱讀
    <input type="checkbox" name="item" value="C" />看電影
</p>

<p>自我介紹:<textarea></textarea></p>